

/////////////////////////////
//     Couleur
////////////////////////////

$color_white: #ffffff;
$color_yellow: #f1cb2f;
$color_blue: #072c5a;

/////////////////////////////
//     Couleur:Hover
////////////////////////////

$color_yellow_hov: #d1b029;

/////////////////////////////
//     Size Typo
////////////////////////////

$typo_desktop: 16px;
